<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ grupo?.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-icon [name]="grupo?.icone" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ grupo?.nome }}</h2>
        <p>{{ grupo?.descricao }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>