<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meus Grupos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meus Grupos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink="/criargrupo">Criar um novo Grupo</ion-button>

  <ion-list>
  @for (grupo of grupos; track grupo.id) {
    <ion-item [routerLink]="['/grupo-detalhe', grupo.id]" button detail>
      <ion-icon [name]="grupo.icone" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ grupo.nome }}</h2>
        <p>{{ grupo.descricao }}</p>
      </ion-label>
    </ion-item>
  }
</ion-list>

 
</ion-content>
