ion-badge.status-badge {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;

  .badge-icon {
    font-size: 16px;
  }
}